.open-sans {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.body {
    line-height: 1.6;
    color: #333;
    background-color: #FFFFFF;
}

/* Container */
.container {
    width: 100%;
    margin: 0 auto;
}

/* Header Section */
.header {
    background-color: #ffffff;
    padding: 1px 2px;

}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;

}

.navbar button {
    padding: 0.5rem 1rem;
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #C6E4D6;
}

/* Banner Section */

.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-top: 20px;
}

.banner-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #B3B3B3
}

.banner-content {
    max-width: 50%;
}

.banner-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
}


.banner-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.explore-btn {
    background-color: #006A50;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.banner-image img {
    max-width: 100%;
}


/* Pillars Section */
.pillars-section {
    text-align: start;
    padding: 40px 10px;
    background-color: #ffffff;
}

.pillars-cards {
    display: flex;
    justify-content: stretch;
    gap: 40px;
}

.pillar-card {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 200px;
    text-align: center;

}

/* Vision of Future Section */
.vision-section {
    padding: 40px 10px;
    text-align: left;
    font-weight: bold;
    background-color: #ffffff;
}

.vision-cards {
    display: flex;
    justify-content: stretch;
    gap: 20px;
    align-self: start;
}

.vision-card {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}


/* Different Background Colors */
.vision-card:nth-child(1) {
    background-color: #ffcccc;
    /* Light red */
}

.vision-card:nth-child(2) {
    background-color: #ccffcc;
    /* Light green */
}

.vision-card:nth-child(3) {
    background-color: #ccccff;
    /* Light blue */
}


/* Recent News Section */
.recent-news {
    padding: 5px 10px;
    text-align: center;
    background-color: #ffffff;
}

.news-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-card {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.news-image img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.news-content {
    padding: 30px;
}


/* Donation today */
.donation-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.donation-card {
    background-color: #e0e0e0;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.donation-card:hover {
    background-color: #b0bec5;
}

/* Full-Width Input */
.donation-input {
    width: 100%;
    max-width: 600px;
    padding: 12px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

/* DonateButton */
.donate-btn {
    background-color: #006A50;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.donate-btn:hover {
    background-color: #C6E4D6;
}


/* newsletter */
.newsletter-section {
    background-color: #C6E4D6;
    /* Background color */
    color: black;
    /* Text color */
    padding: 80px 10x;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.newsletter-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.newsletter-subtitle {
    margin-bottom: 30px;

}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.newsletter-input {
    padding: 10px;
    width: 250px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.newsletter-button {
    padding: 10px 20px;
    background-color: #006A50;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.newsletter-button:hover {
    background-color: cadetblue;
}

/* footer section */

footer {
    text-align: center;
    padding: 10px;
    background-color: white;
    color: black;
}